table {
  width: 100%; }

table td {
  padding: 5px;
  border: 1px solid black; }

table th {
  padding: 5px;
  border: 1px solid black;
  border-width: 0 0 2px 0; }

.container a {
  text-decoration: underline; }

.container img {
  width: 100%; }

.container .center-div {
  padding: auto; 
  text-align: center; 
}

.hljs {
  white-space: pre;
  overflow-x: auto;
}

.meta {
  background-image: url('/img/pascal-landau-100x100.jpg');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  /*border: solid 1px red;*/ 
  padding-left:115px; 
  padding-top:5px; 
  height:100px;
  margin-top: 50px;
}

.meta a {
  text-decoration: none;
}
