table {
 width:100%;
}

table td {
  padding: 5px;
  border: 1px solid black;
}

table th {
  padding: 5px;
  border: 1px solid black;
  border-width: 0 0 2px 0;
}

.container a{
  text-decoration: underline;
}

.container img {
  width:100%;
}